<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      form{
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background: #efefef;
        margin-bottom: 10px;

      }
      label{
        display: block;
        margin-top: 5px;
      }
      input,textarea{
        min-width: 200px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @Submit.prevent="submitForm()">
              <label>Nama</label>
              <input type="text" name="name" v-model="name">
              <label>addres</label>
              <textarea name="address" v-model="address" ></textarea>
              <label>Nomor hp</label>
              <input type="number" name="name" v-model.number="no_hp">
              
              <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="submit">
              </div>

              <div v-if="buttonStatus == 'edit'">
                <input type="submit" value="update" @click="updateMember(idMember)">
                <input type="submit" value="cencel" @click="clearForm">
              </div>
      </form>

      <table border="1">
        <tr v-for="member in members">
            <td>{{ member.name }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member.no_hp }}</td>
            <td>
              <img width=100 :src="member.photo_profile ? photo_profileDomain + member.photo_profile :  'https://dummyimage.com/16:9x1080'" >
            </td>
            <td>
              <button @click="removeMember(member.id)">Hapus</button>
              <button @click='editMember(member)'>edit</button>
            </td>
        </tr>
      </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name:'',
          address:'',
          no_hp:'',
          members: [],
          photo_profileDomain : 'http://demo-api-vue.sanbercloud.com/api/member',
          buttonStatus : 'submit',
          idMember: null
        },
        computed: {},
        methods: {
          submitForm : function(){
            let formData = new FormData()
            formData.append('name',this.name)
            formData.append('address',this.address)
            formData.append('no_hp',this.no_hp)

            const config = {
              method: "post",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
              data:formData
            };

            axios(config)
              .then((res)=> {
                 this.members.push(res.data)
                  alert("Berhasil menambahkan data member baru")
                  this.getAllMember()
              })
              .catch((err)=>{
                console.log(err)
              })

          },
          getAllMember: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((res)=> {
                this.members = res.data.members
                console.log(res.data.message)
              })
              .catch((err)=>{
                console.log(err)
              })

          },
          removeMember: function(id){
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : {_method: "DELETE"}
            };

            axios(config)
              .then((res)=> {
                this.getAllMember()
                console.log(res)
                
              })
              .catch((err)=>{
                console.log(err)
              })
          },
          editMember: function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.buttonStatus = 'edit'
            this.idMember = member.id
          },
          updateMember: function(id){
            let formData = new FormData()
            formData.append('name',this.name)
            formData.append('address',this.address)
            formData.append('no_hp',this.no_hp)

            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : {_method: "PUT"},
              data:formData
            };

            axios(config)
              .then((res)=> {
                this.clearForm()
                this.getAllMember()
                alert('Data member berhasil diubah')
                
              })
              .catch((err)=>{
                console.log(err)
              })
          },
          clearForm : function(){
             this.name = ''
            this.address = ''
            this.no_hp = ''
            this.buttonStatus = 'submit'
            this.idMember = null
          }
        },
        created(){
          this.getAllMember()
        }
      });
    </script>
  </body>
</html>
