<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="isi">

    <button @Click="update(isi)" v-if="tombol">update</button>
    <button @Click="add" v-else>tambah</button>
    
    <div v-for="(user, index) in users" :key="index">
      <ul>
        <li>{{ user.name }}  ||  <button @Click="edit(user.name)">edit</button> || <button @Click="hapus(user.name)">delete</button></li>
      </ul>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        isi: '',
        tombol:'',
        users : [
        {
          'name' : 'Muhamamd Iqbal Mubarok'
        },
        
        {
          'name' : 'Tuby Purwanti'
        },
        
        {
          'name' : 'Faqih muhammad'
        },
        
        ]
      },
      computed : {
        
        
      },
      methods : {
        add : function(){
          this.users.push({ name: this.isi })
          this.isi = ''
        },
        edit: function(nama){
          this.tombol = 'edit'
          this.isi = nama

        },
        hapus : function(nama){
          
          this.users =  this.users.filter(function(item){
             return item.name != nama
           })
        },
        update : function(nama){
          this.users =  this.users.filter(function(item){
              item.name == nama
           })
        }
      }
  })
  </script>
</body>
</html>